#full_page{
	margin-left:10%;
	margin-top:5%;
    width:80%;}
#header{
	margin-left:20%;
}
#logo{
	width:100%;
}

		
	
#topic{ 
		font-family:Comic Sans MS;
		color:#228B22;
		margin-top:3%;
		}
#upbanner{
	
	margin-left:45%;
	
}
/*
.slideshow-container{
	max-width:80%;
	position:relative;
	margin:auto;
}
.text{
	color:white;
	font-size:20px;
	padding:8px 12px;
	position:absolute;
	width:80%;
	text-align:right;
}
.numbertext{
	color:black;
	font-size:15px;
	padding:8px 12px;
	position:absolute;
}
.dot{
	height:13px;
	width:13px;
	margin:0 2px;
	background-color:#bbb;
	border-radius:50%;
	transition:background-color 0.6s ease;
	display:inline-block;
}
.active{
	background-color:black;
	
}
.fade{
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	animation-name:fade;
	animation-duration:1.5s;
	
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
*/